@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color1 : rgb(219, 219, 219);
    --color2 : rgb(64, 0, 70);
    --color3 : rgb(0, 0, 0) ;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--color3);
    transition: all 0.5s;
    background-color: var(--color2);
}

#openBtn{
    border: 0;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}


.modal-container{
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: auto;
}


.modal-content{
    width: 360px;
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    margin-top: 180px;
    animation: animatetop 1s ;
    background-color: var(--color1);
}

.modal-content .modal-header{
    width: 100%;
    color: var(--color3);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3px 15px;
    margin-bottom: 5px;
    background-color: var(--color1);
}

.modal-header h1{
    font-size: 24px;
}

.modal-header #closeBtn{
    color: rgb(0, 0, 0);
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
}


.modal-content .modal-body{
    width: 100%;
    padding: 10px 12px;
    border-radius: 12px;
    background-color: var(--color2);
}


.modal-body p{
    font-size: 15px;
    font-weight: 500;
}


@keyframes animatetop {
    from {
        opacity: 0;
        margin-top: 0px;
    }

    to {
        opacity: 1;
        margin-top: 180px;
    }
}